<h1>Show </h1>
<%= image_tag @portfolio_item.main_image %>
<p><%= @portfolio_item.title%></p>
<em><%= @portfolio_item.subtitle%></em>
<p><%= @portfolio_item.body%></p>
<% @portfolio_item.technologies.each do |m| %>
 <ul> 
   <li><%= m.name %></li> 
 </ul>
 <% end %>